CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_generic=y
CONFIG_TARGET_ipq806x_generic_DEVICE_xiaomi_r3d=y

#include _addons.config
#include _base.config
#include _wifi_en.config
# -include _printer.config
#include _samba.config
#include _torrents.config
#include _proxy.config
# —include _argon.config
#include _vpn.config

#CONFIG_KERNEL_KALLSYMS=y

### Temp and sensors
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_alpine-fan-control=y
CONFIG_PACKAGE_luci-app-alpine-fan-control=y
CONFIG_PACKAGE_luci-app-temp-status=y
CONFIG_PACKAGE_luci-i18n-temp-status-ru=y
CONFIG_PACKAGE_collectd-mod-sensors=y

### HDD tools
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_hdparm=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_luci-app-hd-idle=y
#CONFIG_PACKAGE_luci-i18n-hd-idle-ru=y
CONFIG_PACKAGE_luci-app-disks-info=y
#CONFIG_PACKAGE_luci-i18n-disks-info-ru=y
CONFIG_PACKAGE_luci-app-diskman=y

### Luci dashboard
CONFIG_PACKAGE_luci-mod-dashboard=y
CONFIG_PACKAGE_luci-i18n-dashboard-ru=y

### Network Ports viewer
CONFIG_PACKAGE_luci-app-tn-netports=y
CONFIG_PACKAGE_luci-i18n-tn-netports-ru=y

### TimeControl
CONFIG_PACKAGE_luci-app-timecontrol=m

### CPU Freq
CONFIG_PACKAGE_luci-app-cpufreq=y



### MY ------------------------------------------------------------------------------
# CONFIG_BUILD_TOPDIR_MIRROR_URL="https://mirrors.tuna.tsinghua.edu.cn/openwrt/sources/"

CONFIG_LUCI_LANG_ru=n

CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-i18n-ddns-ru=n
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=n

CONFIG_PACKAGE_luci-app-nextdns=n
CONFIG_PACKAGE_luci-i18n-nextdns-ru=n

### USB Printer support
CONFIG_PACKAGE_kmod-usb-printer=n
CONFIG_PACKAGE_p910nd=n
CONFIG_PACKAGE_luci-app-p910nd=n
CONFIG_PACKAGE_luci-i18n-app-p910nd-ru=n

### vpn
CONFIG_PACKAGE_ruantiblock=n
CONFIG_PACKAGE_ruantiblock-mod-lua=n
#CONFIG_PACKAGE_ruantiblock-mod-py=n
CONFIG_PACKAGE_luci-app-ruantiblock=n
CONFIG_PACKAGE_luci-i18n-ruantiblock-ru=n

CONFIG_PACKAGE_podkop=n
CONFIG_PACKAGE_luci-app-podkop=n
CONFIG_PACKAGE_luci-i18n-podkop-ru=n

### DNS and Proxy
CONFIG_PACKAGE_zapret=n
CONFIG_PACKAGE_luci-app-zapret=n

CONFIG_PACKAGE_zapret2=n
CONFIG_PACKAGE_luci-app-zapret2=n

### Adblock package with Luci support
CONFIG_PACKAGE_adblock=n
CONFIG_PACKAGE_luci-app-adblock=n
CONFIG_PACKAGE_luci-i18n-adblock-ru=n

### Argon Theme
CONFIG_PACKAGE_luci-theme-argon=n
CONFIG_PACKAGE_luci-app-argon-config=n

# -----------------------------------------------------------------

CONFIG_LUCI_LANG_zh_Hans=y

CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-commands-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-package-manager-zh-cn=y
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y 

CONFIG_PACKAGE_luci-app-oaf=y

CONFIG_PACKAGE_luci-base=y

CONFIG_PACKAGE_luci-app-partexp=n
CONFIG_PACKAGE_luci-app-syscontrol=n

CONFIG_PACKAGE_luci-app-omcproxy=n
CONFIG_PACKAGE_luci-app-udpxy=n


